.vs/PokeQuest.slnx/FileContentIndex/88c884bb-21b2-4828-90ba-6ab80627c2fe.vsidx
.vs/PokeQuest/CopilotIndices/18.0.636.43670/CodeChunks.db
.vs/PokeQuest/CopilotIndices/18.0.636.43670/CodeChunks.db-shm
.vs/PokeQuest/CopilotIndices/18.0.636.43670/CodeChunks.db-wal
.vs/PokeQuest/CopilotIndices/18.0.636.43670/SemanticSymbols.db
.vs/PokeQuest/CopilotIndices/18.0.636.43670/SemanticSymbols.db-shm
.vs/PokeQuest/CopilotIndices/18.0.636.43670/SemanticSymbols.db-wal
.vs/slnx.sqlite
